body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f6f6;
}

header {
    text-align: center;
    background: #0055ff;
    color: white;
    padding: 20px 0;
}

.iframe-container {
    height: calc(100vh - 150px);
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    font-size: 14px;
}
